<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
  <title>Region</title>
</head>

<body>
  <!-- Content -->
  <section class="container" layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h1 class="fw-bold text-center mt-3">List of Region</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create">
        Add Region
      </button>
    </div>

    <!-- Table -->
    <table id="region-table" class="table mt-3 table-striped table-hover text-center table-bordered">
      <thead class="table-dark">
        <tr>
          <th class="col-2 text-center">No</th>
          <th class="col-4 text-center">Name</th>
          <th class="col-6 text-center">Action</th>
        </tr>
      </thead>
    </table>

    <!-- Modal Detail -->
    <div class="modal fade" id="detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="detailLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 fw-bold" id="detailLabel">
              Detail Region
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="detail-name" class="form-label fw-bold">Name</label>
              <input type="text" id="detail-name" class="form-control" disabled />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Create -->
    <div class="modal fade" id="create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="createLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 fw-bold" id="createLabel">
              Create Region
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="create-name" class="form-label fw-bold">Name</label>
              <input type="text" id="create-name" class="form-control" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-success" onclick="createRegion()">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JS Local -->
  <div layout:fragment="script">
    <script th:src="@{/js/region.js}"></script>
  </div>
</body>

</html>