<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Update Region</title>
  </head>
  <body>
    <section class="container" layout:fragment="content">
      <div class="card mt-5">
        <h5 class="card-header fw-bold text-center">UPDATE REGION</h5>
        <div class="card-body" th:object="${region}">
          <form
            th:action="@{/region/{id} (id=${region.id})}"
            th:method="PUT"
            th:object="${region}"
          >
            <div class="mb-3">
              <label for="region-name" class="form-label fw-bold">Name</label>
              <input
                type="text"
                id="region-name"
                class="form-control"
                th:field="*{name}"
              />
            </div>

            <div class="mt-3">
              <a th:href="@{/region}" class="btn btn-dark">Back</a>
              <button class="btn btn-success ms-2 px-3" type="submit">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
