<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar</title>
</head>

<body>
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">SIBKM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/region}"
                th:classappend="${isActive} == 'region' ? 'active fw-bold':''">Region</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/country}"
                th:classappend="${isActive} == 'country' ? 'active fw-bold':''">Country</a>
            </li>
          </ul>
          <div>
            <button type="submit" onclick="logout()" class="btn btn-outline-danger text-white">Log out</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>